{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Task Manager</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap CSS v4.3.1 -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

        <link rel="stylesheet" href="{% static 'css/newTask.css' %}">
    </head>
    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="row d-flex justify-content mt-5">
                        <div class="card py-3 px-2">
                            <div class="division">
                                <div class="row">
                                    <div class="col-3"><div class="line l"></div></div>
                                    <div class="col-6"><span>New Task</span></div>
                                    <div class="col-3"><div class="line r"></div></div>
                                </div>
                            </div>
                            <form class="myform" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="subject" type="text" class="form-control" placeholder="Asunto">
                                    <select class="form-control" name="addressee">
                                        <option selected>Destinatario</option>
                                        <option value="elias">Viejo Elias</option>
                                        <option value="jhonfer">Viejo Jhonfer</option>
                                    </select>
                                    
                                </div>
                                <div class="form-group mt-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg"><small><i class="far fa-user pr-2"></i>Entrar</small></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row d-flex mt-5">
                        <div class="card py-3 px-2">
                            <div class="division">
                                <div class="row">
                                    <div class="col-3"><div class="line l"></div></div>
                                    <div class="col-6"><span>Pending tasks</span></div>
                                    <div class="col-3"><div class="line r"></div></div>
                                </div>
                            </div>
                            <div class="table-responsive" >
                                <table class="table text-white">
                                    <thead>
                                        <tr>
                                            <th scope="col">Asunto</th>
                                            <th scope="col">Respuesta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in tasks %}
                                        <tr>
                                            {% if task.addressee == 'elias' %}
                                                <td>{{task.subject}}</td>
                                                {% if task.answer == None %}
                                                <td>El viejo Elias no te ha respondido, cojela Quacker</td>
                                                {% else %}
                                                <td>{{task.answer}}</td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
